
html{background-image: radial-gradient(green, violet) no-repeat center fixed;
background-size:cover;
}
body {
    background-image: radial-gradient(rgb(0, 255, 55), purple);
}
.foimage{
background:url(kepek/ross.png) no-repeat center fixed;
background-size:cover;
height:500px;
position:relative;
}
.fotext{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:rgb(255, 255, 255);
}
.topnav{
    overflow:hidden;
    background-color: brown;
}
.topnav a{
    float:left;
    display:block;
    color:red;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;

}
.topnav a:hover{
    background-color: blueviolet;
    color:bisque;
}
.column{
    float:left;
    width:25%;
    padding:20px;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
img {
    width: 200px;
}
table {
    display: flex;
    justify-content: center;
    border: 10px solid red;
}
tr, td {
    border: 10px solid;
    text-align: center;
}
a {
    display: flex;
    justify-content: center;
    color: red;
    text-decoration: none;
    background-color: black;
}
a:hover {
    text-decoration: underline;
}
.header {
    background-image: url(kepek/festmeny1.jpg);
    text-align: center;
    height: 450px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
}
h1 {
    color: red;
}
h2 {
    text-align: center;
}
ul {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 500px){
        body{
            background-color:blue;
        }
        .topnav a{
            float:none;
            width:100%;
        }
        }
        